/* Mobile styles */
@media (max-width: 640px) {
  .container {
    padding: 2px; /* Reduce padding for the container */
  }

  .bg-white {
    padding: 1rem; /* Reduce padding */
  }

  h1,
  h2 {
    font-size: 1.5rem; /* Reduce font size */
  }

  .text-4xl {
    font-size: 2rem; /* Adjust large text */
  }

  .text-2xl {
    font-size: 1.25rem; /* Adjust medium text */
  }

  .grid-cols-1 {
    grid-template-columns: 1fr; /* Single column layout */
  }

  .space-y-6 > li {
    margin-bottom: 4px; /* Reduce space between list items */
  }

  .p-6 {
    padding: 2px; /* Reduce padding for feature items */
  }

  .text-center {
    text-align: left; /* Align text to left */
  }
  .main-div {
    /* border: 2px solid red; */
    /* font-size: 1rem; */
    /* margin-top: 12rem; */
  }
  .header {
    font-size: 1.5rem;
  }
  .basic-main-div {
    border: 2px solid red;
    font-size: 1rem;
    /* margin-top: 12rem; */
  }
}

/* ... existing CSS ... */

/* Media query for small devices */
/* ... existing CSS ... */

/* Media query for small devices */
@media (max-width: 640px) {
  .basic-main-div ul,
  .statutory-main-div ul {
    padding: 0; /* Reduce padding */
  }

  .basic-main-div li,
  .statutory-main-div li {
    padding: 1rem 0; /* Adjust padding for list items */
    display: flex; /* Use flexbox to align items in a row */
    justify-content: space-between; /* Space between the label and value */
    align-items: center; /* Center items vertically */
  }

  .basic-main-div li p,
  .statutory-main-div li p {
    margin: 0; /* Remove margin for paragraphs */
  }
}
